*
{
	margin: 0px;
	text-decoration: none;
	margin: 0px auto;
   	padding: 0px;

}
body
{
	 
	 
	
}

.nav-area
{
	background: rgba(0,0,0,0.9);
	height: 60px;
	position: absolute;
	width: 100%;

}
.logo
{
	margin: 18px 18px;
	height: 60px;
	float: left;
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
}
.menu-area{
	float: right;
	list-style: none;
	margin: 18px;
	 padding: 8px;
	
	 margin-left: 12px;
}
.menu-area li
{
	display: inline-block;
	padding: 7px;
	margin-top: -10px;
	 font-size: 18px;
}
.menu-area li a{
	text-decoration: none;
	color: #fff;
   letter-spacing: 1px;
  
}

.menu-area li.active a{
	color: tomato;
}
.menu-area li a:hover{
	color: tomato;
}
.wellcome-text{
	height: 15%;
}
.logo:hover
{
color: tomato;
}
.seach-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-82%,-40%);
}
input{
	
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
}
input[type="text"]
{
	background: #fff;
	width: 240px;
	height: 25px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
}
input[type="submit"]{
	position: relative;
	left: -5px;
	border-radius: 0 25px 25px 0;
	width: 100px;
	height: 25px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ffc107;
	color: #fff;
}
input[type="submit"]:hover{
	background: tomato;
}
.text
{
	font-size: 16px;
	color: white;

}

.dropbtn {
 background: rgba(0,0,0,0.6);
  padding: 10px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: tomato;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(0,0,0,0.6);}


h1
{
	text-align: center;

}
p
{
	text-decoration: none;
	color: black;
	font-size: 17px;
	color: white;
}


.border
{
	border-style: solid ;
	border-color: black;
	width: 280px;
	height: 330px;
	margin-left: 20px;
	letter-spacing: 0.5px;
	cursor: pointer;

}
button
{
	background-color: rgba(0,0,0,0.7);
	height: 35px;
	width: 100px;
	border-radius: 50px;
	cursor: pointer;
	color: white;

}
button:hover
{
	background-color: tomato;
}

.img
{
	height: 330px;
	width: 280px;
}
.border-1
{
	margin-left: 350px;
	margin-top: -337px;
	border-style: solid;
	width: 280px;
	height: 330px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.border-2
{
	margin-left: 720px;
	margin-top: -337px;
	border-style: solid;
	width: 280px;
	height: 330px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.border-3
{
	float: left;
	margin-right: 65px; 
	margin-top: 300px;
	border-style: solid;
	width: 280px;
	height: 330px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
.border-4
{
	float: left;
	
	margin-top: 300px;
	border-style: solid;
	width: 280px;
	height: 330px;
	letter-spacing: 0.5px;
	cursor: pointer;
}
